@{
    ViewData["Title"] = "Home Page";
}

<link href="~/css/main.css" rel="stylesheet" media="all">
<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" media="all">


<div class="page-wrapper bg-gra-02 p-t-130 p-b-100 font-poppins">
    <div class="wrapper wrapper--w680">
        <div class="card card-4">
            <div class="card-body">

                <div class="text-center">
                    <h1 class="display-4">Bem Vindo</h1>
                    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET
                            Core</a>.</p>
                </div>
            </div>
        </div>
    </div>
</div>